@model IPagedListModel<MvcSimplePagerDemo.Models.Notice>
@{
    Layout = null;
}
<ul>
    @foreach (MvcSimplePagerDemo.Models.Notice item in Model)
    {
        <li>
            <a href="/Notice/@item.Path" target="_blank">
                <span class="notice-title">@item.Title</span>
            </a>
        </li>
    }
</ul>
@Html.Pager(Model.Pager, pageIndex => String.Format("javascript:loadData({0})", pageIndex))

<br />
<br />
@Html.Pager(Model.Pager, pageIndex => String.Format("javascript:loadData({0})", pageIndex), "PagerPartial", PagingDisplayMode.IfNeeded)

<br/>
<br />

@Html.Pager(Model.Pager , pageIndex => String.Format("javascript:loadData({0})" , pageIndex) , "PagerPartial1")